@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

:root{
    --brand-blue: rgb(21, 45, 126);
    --brand-background:rgb(215, 218, 224);
}

body{
font-family: sans-serif;
    font-size: 100%;
    background-color: var(--brand-background);
}


h1{
    font-size:3em;
    text-align:center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    padding:0.3em;
}

h4{
    text-align: center;
    padding: 0.5em;
}
h5{
    text-align:center;
    padding:0.3em;
}

p{
    font-size: 1.15em;
}

.text-center{
    text-align: center;
}

.quote{
    font-size: 2em;
    text-align: center;
    font-style: italic;
    padding: 1em, 1em;
    color: grey;
}

.body-text{
    text-align: center;
}

.img-responsive{
    display: block;
    margin: auto;
    max-width: 100%;
}

.hero-text{font-size: 30px;
color: black;}
/*--- Hero Image ---*/


.container-fluid{
--bs-gutter-x:0;
--data-bs-interval:15000;
}


/*--- Nav bar ---*/
.navbar{
    padding:5px;
    
    color: white;
}

.navbar-dark{
    background: rgb(21, 45, 126);
}
.hero-text{
    width:100%;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.hero-text a{
    text-decoration: none;
    color: black;
    background-color: rgba(207, 207, 207,0.75);
    border-radius: 0.5em;
    padding: 0.25em 0.25em 0.25em 0.25em;
}
.hero-text a:hover {
  background-color: rgba(117, 117, 117, 0.75);
  color: white;
}

.nav-img{
    max-width: 120px;
    padding-left: 15px;
}

.col-container{
    overflow: hidden;
}

.col-sm-4{
    box-sizing: border-box;
    margin-right: auto;
    
}

.col-sm-8{
    box-sizing: border-box;
}

.carousel-container{
    max-width:1000px;
    display:block;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notices{
    background-color: var(--brand-blue);
    color: white;
    text-align:center;
}

.row{
    padding: 1em;
}





footer{
    background-color: var(--brand-blue);
    color: rgb(255,255,255);
    padding: 1.2em;
    margin-top: 1em;
    font-size: 1.25em;
    text-align: center;
}
