{% extends "layout.html" %}

{% block title %}
Classes
{% endblock %}



{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/gallery1.jpg" class="d-block w-100" alt="1">
    </div>
    <div class="carousel-item">
      <img src="static/images/gallery2.jpg" class="d-block w-100" alt="2">
    </div>
    <div class="carousel-item">
      <img src="static/images/gallery3.jpg" class="d-block w-100" alt="3">
    </div>
     <div class="carousel-item">
      <img src="static/images/gallery4.jpg" class="d-block w-100" alt="4">
    </div>
     <div class="carousel-item">
      <img src="static/images/gallery5.jpg" class="d-block w-100" alt="5">
    </div>
  </div>
</div>

<h1>Classes</h1>

<div class = "container-lg">
<div class="row">
    <div class = "col-md-6">
        <div class="card w-100">
            <div class="card-body">
               <img class="img-fluid" src="static/images/jazz.jpg" class="card-img-top" alt="...">
            <p><i class="subheading">Jazz</i></p>
              <p class="card-text">
            Jazz is an upbeat, stylised, technical dance style. Building strength and
            coordination to assist with jumps, turns and flexibility. Get grooving to modern
            music and fresh choreography. Our classes cater to all ages and abilities. LA
            Dance follows the AJDA syllabus, working towards levelling up your dance confidence.
            </p>
            </div>
        </div>
    </div>


     <div class = "col-md-6">
<div class="card w-100">

  <div class="card-body">
        <img class="img-fluid" src="static/images/ballet.jpg" class="card-img-top" alt="...">
    <p><i class="subheading">Ballet</i></p>
      <p class="card-text">
A graceful, traditional style that is the backbone of all dance genres. This style
helps enhance technique, core strength and overall discipline. This style is a great
base for any aspiring dancer, and provides detail oriented fundamentals. We offer classes
for all ages in Ballet,  teaching the ____ syllabus to build technique and strength.

</p>
  </div>
</div>
    </div>


</div>

    <br>

    <div class="row">
    <div class = "col-md-6">
<div class="card w-100" >

  <div class="card-body">
        <img class="img-fluid" src="static/images/contemp.jpg" class="card-img-top" alt="...">
   <p><i class="subheading">Contemporary</i></p>
      <p class="card-text">
<p>An expressive style that combines elements of jazz, lyrical and ballet. </p>
      Striving to
connect the mind and body to move through space with self expression, intention and control.
We offer classes in Contemporary dance for students aged 7+. Working through the ____ syllabus ,
our dancers learn how to flow their movements together with alignment and technique.

</p>
  </div>
</div>
    </div>
     <div class = "col-md-6">
<div class="card w-100">
  <div class="card-body">
<img class="img-fluid" src="static/images/tap.jpg" class="card-img-top" alt="...">

   <p><i class="subheading">Tap</i></p>
      <p class="card-text">
Among many types of popular dances around the world, tap dance may be one of the most unusual
dances. Instead of focusing on body movements and dancing with a partner, tap dance is characterised
by the creation of percussion-like musically-focused rhythm performance using tap shoes striking on
the floor in accordance with the dancing music.

</p>
  </div>
</div>
    </div>
</div>

</div>
<h1>Timetable</h1>

<div class = "container">
 <div class="row">
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Monday at St Michael’s Kelburn
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">4.15-5.15pm:	Inter 2 Jazz – 1st class</li>
    <li class="list-group-item">5.15-6.15pm:	Inter 3 Jazz – 1st class</li>
    <li class="list-group-item">6.15-7.15pm:	Adv 1 Jazz – 1st class</li>
  </ul>
</div>
    </div>
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Monday at St Teresa’s Karori
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">No regular bookings in Karori on Mondays</li>
  </ul>
</div>
    </div>
 </div>
<br>
    <div class="row">
    <div class = "col-sm-6">
        <div class="card card2 w-100">
        <div class="card-header">
        Tuesday at St Michael’s Kelburn
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">3.30-4.15pm:	Grade 3 Ballet – 1st class</li>
        <li class="list-group-item">4.15-5.00pm:	Level 1 Contemporary – for 9-11 yrs</li>
        <li class="list-group-item">5.00-5.45pm:	Grade 4 Ballet – 1st class</li>
        <li class="list-group-item">5.45-6.45pm:	Adv 1/Grade 8 Ballet – 1st class</li>
        <li class="list-group-item">6.45-7.30pm:	Inter 2 Jazz – 2nd class</li>
        <li class="list-group-item">7.30-8.15pm:	Inter Found Ballet – 1st class</li>
        </ul>
        </div>
        </div>
    <div class = "col-sm-6">
        <div class="card card2 w-100" >
        <div class="card-header">
        Tuesday at St Teresa’s Karori
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">No regular bookings in Karori on Tuesdays</li>
        </ul>
        </div>
    </div>
 </div>
<br>
    <div class="row">
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Wednesday at St Michael’s Kelburn
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">3.30-4.00pm:	Beginner Jazz – for 7-8 yrs</li>
    <li class="list-group-item">4.05-4.35pm:	Beginner Tap – for 7-8 yrs</li>
    <li class="list-group-item">4.40-5.25pm:	Grade 3 Ballet – 2nd class/li>
    <li class="list-group-item">5.30-6.15pm:	Level 5 Jazz – for 9-10 yrs</li>
    <li class="list-group-item"> 6.15-7.15pm:	 Adv 2 Ballet – 2nd class</li>
    <li class="list-group-item"> 7.15-8.15pm:	 Adv 1 Jazz – 2nd class</li>
  </ul>
</div>
    </div>
    <div class = "col-sm-6">
        <div class="card card2 w-100" >
  <div class="card-header">
    Wednesday at St Teresa’s Karori
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">5.15-6.00pm:	Inter Open Teen Tap – for 13+ yrs with previous training</li>
    <li class="list-group-item">6.00-6.45pm:	Adv Open Tap</li>
    <li class="list-group-item">6.45-7.15pm:	Beginner Open Adult Tap – for new students 18+ yrs</li>
    <li class="list-group-item">7.00-7.45pm:	Inter Open Adult Tap – for experienced tappers</li>
  </ul>
</div>
    </div>
 </div>
<br>
    <div class="row">
    <div class = "col-sm-6">
        <div class="card card2 w-100" >
  <div class="card-header">
    Thursday at St Michael’s Kelburn
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">3.45-4.15pm:	Beginner Ballet – for 7-8 yrs</li>
    <li class="list-group-item">4.15-5.15pm:	Elem 2 Jazz – 2nd class</li>
    <li class="list-group-item">5.15-6.00pm:	Grade 4 Ballet – 2nd class</li>
    <li class="list-group-item">6.00-6.45pm:	Elem 3 Jazz – 1st class</li>
    <li class="list-group-item">6.45-7.30pm:	Level 2 Contemporary – for 12-13 yrs</li>
    <li class="list-group-item">7.30-8.30pm:	Level 3 Contemporary – for 14+ yrs</li>
  </ul>
</div>
    </div>
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Thursday at St Teresa’s Karori
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">No regular bookings in Karori on Thursdays</li>
  </ul>
</div>
    </div>
 </div>
<br>
    <div class="row">
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Friday at St Michael’s Kelburn
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">No regular bookings in Kelburn on Fridays</li>
  </ul>
</div>
    </div>
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Friday at St Teresa’s Karori
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">No regular bookings in Kelburn on Fridays</li>
  </ul>
</div>
    </div>
 </div>
<br>
    <div class="row">
    <div class = "col-sm-6">
        <div class="card card2 w-100" >
  <div class="card-header">
    Saturday at St Michael’s Kelburn
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">2.00-2.45pm: 	Elem 3 Jazz – 2nd class</li>
    <li class="list-group-item">2.45-3.30pm: 	Inter Found Ballet – 1st class</li>
    <li class="list-group-item">3.30-4.15pm:	Inter 3 Jazz – 2nd class</li>
     <li class="list-group-item">4.15-5.15pm:	 Adv 1 & 2 Ballet – 2nd class</li>
  </ul>
</div>
    </div>
    <div class = "col-sm-6">
        <div class="card card2 w-100">
  <div class="card-header">
    Saturday at St Teresa’s Karori
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">9.00-10.00am: 	LA Intro to Dance – for 5 & 6 yrs</li>
    <li class="list-group-item">10.15-11.15:	Ready Set Dance Level 2 – for 4 yrs</li>
    <li class="list-group-item">11.30-12.15:	Ready Set Dance Level 1 – for 3 yrs</li>
    <li class="list-group-item">12.25-12.55:	Beginner Jazz – for 7-8 yrs</li>
    <li class="list-group-item"> 1.00-1.30pm:	Beginner Ballet – for 7-8 yrs</li>
  </ul>
</div>
    </div>
 </div>


</div>


{% endblock %}