{% extends "layout.html" %}

{% block title %}
Notices
{% endblock %}


{% block content %}

<div class="container">
<br><br>
<h1>Hello</h1>




<div class="card center" style="width: 50rem;">
  <div class="card-body" >
          <a href="{{ url_for( 'news_cud', id=0, task='add' ) }}" class="btn btn-primary" style="text-align: right;" >Add New</a>

<hr>

    {% for row in news %}
      <div class="" >
    <h2>{{row['title']}}</h2>
    <div class="subtitle">{{ row['subtitle']}}</div>
    <p class="content">{{ row['content'] | replace ("\n", "<br>") | safe}}</p>
    <div class="news-meta">Posted by {{row['name']}} on {{ row['newsdate'] | newsdate }} </div>


    <a href="{{ url_for( 'news_cud', id=row['news_id'], task='update' ) }}" class="btn b tn-primary">Update</a>
    <a href="{{ url_for( 'news_cud', id=row['news_id'], task='delete' ) }}" class="btn btn-primary">Delete</a>
    <hr>

        </div>

      {% endfor %}


</div>
</div>
</div>


{% endblock %}




